<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About Page - </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- font awsome cnjs-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  {% load static %}
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href=" /">Code Craft</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href=" /">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/services">Services</a></li>
          <li><a class="nav-link   scrollto" href="/portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/team">Team</a></li>
          <li class="dropdown"><a href="/userlogout"><span>Logout</span></a>
           
        </ul>
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
        <i class="fa-solid  fa-angle-down mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>





    <style>
      /* Customize card styles */
      .card {
        margin-bottom: 30px;
      }
  
      .card-img-top {
        height: 20rem;
      }
  
      .card-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }
  
      .card-text {
        margin-bottom: 15px;
      }
  
      .card-link {
        color: #2b72b1;
        font-size: 18px;
      }
  
      .btn-primary {
        background-color: #136910;
        border-color: #61135d;
      }
  
      .btn-primary:hover {
        background-color: #d61010;
        border-color: #0062cc;
      }
    </style>
  </header><!-- End Header -->



  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href=" /">Home</a></li>
        <li>Events page</li>
      </ol>
      <h2>Events page</h2>

    </div>
  </section><!-- End Breadcrumbs -->


  <div class="row">
    <div class=" col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-content">
          <img class="card-img-top img-fluid" src="{% static '/img/events/e3.jpg' %}" alt="Card image cap"
            style="height: 20rem">
          <div class="card-body">
            <h4 class="card-title">World Music Festival</h4>
            <p class="card-text">
              Immerse yourself in a kaleidoscope of sounds from across the globe, as the World Music Festival in Kochi
              brings together diverse rhythms and melodies for a captivating cultural experience
            </p>

            <a class="card-link"><small>Date 12-7-2023 <br> Place: Kochi International Convention Center<br> Price:1000
              </small></a> <br><br>
            <a href="/eventsform" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-content">
          <img class="card-img-top img-fluid" src="{% static '/img/events/e2.jpg' %}" alt="Card image cap"
            style="height: 20rem">
          <div class="card-body">
            <h4 class="card-title">Rockin' Rhythms</h4>
            <p class="card-text">
              Join us for an unforgettable night of live music as the dynamic music band takes the stage in Kochi. Be prepared to be blown away by their powerful vocals and captivating stage presence. 
            </p>
           
            <a class="card-link"><small>Date 15-7-2023 <br> Place: Grand Arena  Kochi   <br> Price:1500</small></a> <br><br>
            <a href="/eventsform" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class=" col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-content">
          <img class="card-img-top img-fluid" src="{% static '/img/events/e4.jpg' %}" alt="Card image cap"
            style="height: 20rem">
          <div class="card-body">
            <h4 class="card-title">
              Vibrant Glow</h4>
            <p class="card-text">
              Experience a mesmerizing display of color and light as thousands of paper lanterns illuminate the night sky, creating a magical atmosphere
            </p>

            <a class="card-link"><small>Date 19-6-2023 <br> Place: : Kochi Open Air Arena   <br> Price:2000
              </small></a> <br><br>
            <a href="/eventsform" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-content">
          <img class="card-img-top img-fluid" src="{% static '/img/events/e6.jpg' %}" alt="Card image cap"
            style="height: 20rem">
          <div class="card-body">
            <h4 class="card-title"> Electro Beats </h4>
            <p class="card-text">
             
             Join us at Club Pulse on July 20th for an electrifying DJ night featuring renowned DJ Sonic Fusion. Get ready to dance to mind-blowing beats, pulsating lights, and an unforgettable party experience! 
            </p>
           
            <a class="card-link"><small>Date 7-8-2023 <br> Place: Kochi Club & Lounge  <br> Price:25000 </small></a> <br><br>
            <a href="/eventsform" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Code Craft</h3>
            <p>
              Kochi<br>
              Kerala, 691576<br>
              India<br><br>
              <strong>Phone:</strong> +91 7994680835<br>
              <strong>Email:</strong> codecraft@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa-sharp fa-solid fa-greater-than fa-xs" style="color: #2163d4;"></i><a href="/index">
                  &nbsp; Home</a></li>
              <li><i class="fa-sharp fa-solid fa-greater-than fa-xs" style="color: #2163d4;"></i><a href="/about">
                  &nbsp; About us</a></li>
              <li><i class="fa-sharp fa-solid fa-greater-than fa-xs" style="color: #2163d4;"></i> <a href="/services">
                  &nbsp; Services</a></li>
              <li><i class="fa-sharp fa-solid fa-greater-than fa-xs" style="color: #2163d4;"></i></i> <a
                  href="/portfolio"> &nbsp; portfolio</a></li>
              <li><i class="fa-sharp fa-solid fa-greater-than fa-xs" style="color: #2163d4;"></i> <a href="/team">
                  &nbsp; Team</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Follow us on</p>
            <div class="social-links mt-3">
              <a href=" https://twitter.com/Anaz7585?t=8H2Ml8A9J0teQRDNM7pPXQ&s=08" class="twitter"><i
                  class="fa-brands fa-twitter fa-xl" style="color: #2062d5;"></i></a>
              <a href="https://www.facebook.com/muhammed.anaz.9883?mibextid=ZbWKwL" class="facebook"><i
                  class="fa-brands fa-facebook fa-xl" style="color: #336dd1;"></i></a>
              <a href="https://instagram.com/muhammedanaz7?igshid=ZDdkNTZiNTM=" class="instagram"><i
                  class="fa-brands fa-square-instagram fa-xl" style="color: #0353dd;"></i></a>
              <a href="https://www.linkedin.com/in/muhammed-anaz-n-507b89212" class="linkedin"><i
                  class="fa-brands fa-linkedin fa-xl" style="color: #346bcb;"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="fa-solid fa-arrow-up fa-2xl" style="color: #2045d9;"></i></a>
  <!-- Vendor JS Files -->
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/glightbox.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/validate.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/noframework.waypoints.js' %}"></script>




  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>